<h4>Statistics<span style="font-style:italic;font-size:12px;font-weight:normal;color:rgb(100, 100, 100)"> In the last 10 minutes</span></h4>
<span></span>
<table class="table">
    <tr>
        <th>Guests:</th>
        <td>{{ stat.visitors_guests }}</td>
    </tr>
    <tr>
        <th>Users:</th>
        <td>{{ stat.visitors_users }}</td>
    </tr>
</table>
<h4>Statistics<span style="font-style:italic;font-size:12px;font-weight:normal;color:rgb(100, 100, 100)"> this month</span></h4>
<table class="table">
    <tr>
        <th>Visitors: </th>
        <td>{{ stat.visitors_month_total }}</td>
    </tr>
</table>