{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
    <h3 class="page-header">Change password</h3>
    <div class="page-content">
        <div id="msgbox_changepass" class="alert" style="display:none"></div>
        <form action="{{ path('ajax_password_change') }}" id="frmChangePass" class="form-horizontal" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="currentPass">Current password:</label>
                    <input type="password" class="form-control" id="currentPass" placeholder="enter your current password"/>
                </div>

                <div class="form-group">
                    <label for="newPass">New password:</label>
                    <input type="password" class="form-control" id="newPass" placeholder="Enter your new password here"/>
                </div>

                <div class="form-group">
                    <label for="newPass2">Confirm new password:</label>
                    <input type="password" class="form-control" placeholder="Confirm your new password" id="newPass2"/>
                </div>
                <button type="submit" class="btn btn-default" id="btnForgotPass">Request new password</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}