{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
    <h3 class="page-header">Forgot password</h3>
	<div class="page-content">
		<p>{{ message }}</p>
	</div>
</div>
{% endblock %}
