{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">400 - Invalid request</h3>
        <div class="page-content">
            <p>We have received an invalid request, please try again later.</p>
        </div>
    </div>
{% endblock %}
