{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block title %}Access denied{% endblock title %}
{% block body %}
    <div class="page">
        <h3 class="page-header">Access denied</h3>
        <div class="page-content">
            <p>You are not allowed to view this page.</p>
        </div>
    </div>
{% endblock %}
