{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block title %}404 - not found {% endblock title %}

{% block body %}
    <div class="page">
        <h3 class="page-header">404 - Page not found</h3>
        <div class="page-content">
            <p>We could not find the requested page</p>
        </div>
    </div>
{% endblock %}
