{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block title %}403 - Access forbidden{% endblock title %}

{% block wrapper %}
    <div class="page">
        <h3 class="page-header">503 - Access forbidden</h3>

        <div class="page-content" style="padding:5px;">
            <p>You are not allowed to view this page.</p>

            <ul class="menu menu-pills clearfix" style="margin-top:15px;">
                <li><a href="{{ path('home') }}">Go back to the homepage</a></li>
            </ul>
        </div>
    </div>
{% endblock %}



