{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block title %}404 - not found {% endblock title %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Ticket not found</h3>
        <div class="page-content">
            <p>The requested ticket could not be found</p>
        </div>
    </div>
{% endblock %}