{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container clearfix" style="width:100%;">
        <h1>Forbidden</h1>
        <div class="container-content">
            <p>You do not have access to this feature.</p>
            <p>Roles: {% for role in app.user.roles %}{{ role.name }} [{{ role.role }}]{% if not loop.last %}, {% endif %}{% endfor %}</p>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}