.label-important[href]:hover,
.label-important[href]:focus {
    background-color: #c9302c;
}
.label-important {
    background-color: #d9534f;
}

/* BLOCK LATEST PURCHASES */
.sonata-purchases-container > .list-group > .list-group-item:not(.admin-shop-resend):hover {
    cursor:pointer;
    background-color: rgb(252, 252, 252);
}
.purchases-info {
    display: none;
    background-color: rgb(245, 245, 245);
    padding: 5px 10px;
    margin-top: 5px;
    box-shadow: inset 0px 1px 2px 0 rgb(216, 216, 216);
}
.purchases-info > p {
    margin:0;
}
.purchases > ul {
    padding:0;
}
.purchase-info-key {
    font-weight:bold;
}