.mcsf_category {
    border: 1px solid #525252;
    border-radius: 3px;
    clear: both;
}
.mcsf_category + .mcsf_category {
    margin-top:10px;
}
.mcsf_category_header {
    background: #7451aa;
    color: #fff;
    padding: 8px 12px;
    clear: both;
    box-sizing: border-box;
}
.mcsf_category_header h1 {
    margin: 0;
    font-size: 13pt;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.53);
    font-family: "Open sans";
}
.mcsf_category_content {

}

.mcsf_forum {
    background: #464646;
    clear: both;
}
.mcsf_forum:nth-child(even) {
    background: #505050;
}
.mcsf_forum_icon {
    border-radius:3px;
    height:50px;
    width:50px;
    float:left;
    margin:10px 0 10px 10px;
}
.mcsf_forum_text {
    padding: 10px;
    float:left;
    width:374px;
}
.mcsf_forum_text h3 {
    font-family: 'Open sans';
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}
.mcsf_forum_text p {
    color: #B9B9B9;
    font-size:8pt;
    margin:0;
}

.mcsf_forum_latest {
    float: right;
    width: 210px;
    font-size: 9pt;
    margin: 13px 0 13px 0;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px;
    color: rgb(184, 184, 184);
    text-align: right;
    line-height: 14px;
}
.mcsf_forum_latest > a {
    color: #fff;
}

/* ACTION BAR */
.mcsf_actionbar {
   /* border-bottom: 1px solid #C7C7C7;*/
}
.mcsf_actionbar ul {
    padding:0;
    margin:0;
}
.mcsf_actionbar ul li {
    list-style:none;
}
.mcsf_actionbar ul li a {
    display:block;
    float:left;
    padding: 10px 10px 10px 10px;
}

/* THREADS */
.mcsf_threads_list {
    margin-top:10px;
}
.mcsf_thread_item {
    clear: both;
    display:flex;
    justify-content: space-between;
    padding: 5px;
    background: rgb(80, 80, 80);
}
.mcsf_thread_item:nth-child(even) {
    background: rgb(73, 73, 73);
}
.mcsf_thread_item + .mcsf_thread_item {
    border-top:none;
}
.mcsf_thread_item:hover {
    background: #535353;
}

.mcsf_thread_head {
    float:left;
}
.mcsf_thread_head img{
    height: 45px;
    width: 45px;
    border-radius: 30px;
}
.mcsf_thread_general {
    margin-left:10px;
    float:left;
    padding: 5px 0 5px 0;
    flex: 11;
}
.mcsf_thread_general h3 {
    margin: 0;
    font-size: 11pt;
    height: 25px;
    word-wrap: break-word;
}
.mcsf_thread_general p {
    font-size: 8pt;
    margin:0;
    color: #b8b8b8;
}
.mcsf_thread_general p > .profile {
    color:#fff;
}
.mcsf_thread_update h4 {
    margin:0;
    font-size:9pt;
    margin-top:11px;
    font-style:italic;
    word-wrap: break-word;
    color:#b8b8b8;
}
.mcsf_thread_update h4 > .profile {
    color: #fff;
}
.mcsf_thread_update p {
    font-size: 8pt;
    margin:0;
}
.mcsf_thread_update {
    float:right;
    text-align:right;
    color: #b8b8b8;
}


.mcsf_post_update h6 {
    font-style:italic;
}
/* THREAD VIEW */
.mcsf_thread {

}
.mcsf_thread_info {

}
.mcsf_post_main {
    margin-top:10px;
    clear:both;
}
.mcsf_posts {
    margin-top:10px;
}
.mcsf_post {
    background: #3F3F3F;
    clear:both;
    width:100%;
}

.mcsf_post + .mcsf_post {
    margin-top:10px;
}
.mcsf_post_author, .mcsf_post_content {
    min-height: 215px;
}
.mcsf_post_author {
    float: left;
    width: 175px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    min-height: 150px;
    border-right: 1px solid rgb(75, 75, 75);
}
.mcsf_post_author_name {
    font-size: 13pt;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.mcsf_post_author_smalltext {
    font-style: italic;
}
.mcsf_post_author_details, .mcsf_post_author_info {
    padding:0;
    margin:0;
    font-size: 9pt;
    color: rgb(173, 173, 173);
    text-shadow: 1px 1px black;
}
.mcsf_post_author_details > li, .mcsf_post_author_info > li {
    list-style:none;
}
.mcsf_post_author_image > img{
    width:80px;
    height:80px;
}

.mcsf_post_content{
    margin-left: 175px;
    height: auto!important;
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;
    text-align: justify;
    position: relative;
}
.mcsf_post_content > div {
    /* PREVENT OVERLOAD */
    max-height:2500px;
    height: 20px;
}
.mcsf_post_content_lowerbar {
    float:right;
    overflow:visible !important;
    position: absolute;
    bottom:10px;
    right: 10px;
}

.mcsf_post_option_button {
    padding: 5px 12px;
    background: #4b4b4b;
    border-radius: 3px;
    color: #ddd;
    font-size: 8pt;
    margin-right: 3px;
    cursor: pointer;
}
.mcsf_post_option_button:hover {
    opacity:0.8;
    background-color: #7c5f92 !important;
}
.mcsf_post_amountLikes {
    padding: 3px 8px;
    background: #444444;
    border-radius: 3px;
    color: #DDDDDD;
    border: 1px solid #090909;
    box-shadow: inset 0 0 1px 0 whiteSmoke;
    font-size: 8pt;
}
.mcsf_post_like_text {
    font-size: 8pt;
    margin-right: 5px;
}
.mcsf_post_amountLikes-extra {
    background: rgb(131, 202, 104);
    color: #fff;
    box-shadow: inset 0 0 1px 0 rgba(210, 255, 207, 0.84);
}
.mcsf_post_createdOn {
    padding: 5px 12px;
    background: #4B4B4B;
    border-radius: 3px;
    color: #ddd;
    font-size: 8pt;
}
.mcsf_thread_reply {
    margin-top:10px;
    padding:10px;
}
.mcsf_thread_reply_image {
    float:left;
    text-align:center;
}
.mcsf_thread_reply_image img {
    height: 95px;
    width: 95px;
    box-shadow: 0 0 0px 1px rgb(218, 218, 218);
    border: 3px solid white;
    border-radius: 5px;
}
.mcsf_thread_locked, .mcsf_thread_notLoggedIn {
    background: rgb(61, 61, 61);
    padding: 10px;
    text-align: center;
}
.breadcrumb {
    padding:4px 15px;
    border: 1px solid #585858;
    border-radius:3px;
    width: 95%;
    background: #2f2f2f;
}

.breadcrumb li {
    float:left;
    list-style:none;
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    color:white;
    padding:5px;
}

.mcsf_section_title {
    background: #2f2f2f;
    font-size: 11pt;
    padding: 7px 12px;
    border: 1px solid #222;
    text-shadow: 1px 1px black;
    clear: both;
    font-family: 'Open sans';
    margin:0;
}


/* ADMIN BAR */
.mcsf_adminbar {
    padding:0;
    margin:0;
    font-size: 11pt;
    float:right;
    margin-bottom: 2px;
}
.mcsf_adminbar li a, .mcsf_adminbar li button {
    padding: 5px 12px;
    background: #444;
    border-radius: 3px;
    color: #ddd;
    font-size: 8pt;
    cursor: pointer;
    border:1px solid #444;
}
.mcsf_adminbar li a, .mcsf_adminbar li + li {
    margin-left:3px;
}
.mcsf_adminbar li a:hover, .mcsf_adminbar li button:hover {
    opacity:0.8;
    border-color:gray;
}
.mcsf_adminbar li {
    list-style:none;
    display:inline-block;
}
.mcsf_adminbar li select {
    padding: 4px 12px;
    background: #444;
    border-radius: 3px;
    color: #ddd;
    font-size: 8pt;
    cursor: pointer;
    border: none;
    border:1px solid #444;
    margin-right: 3px;
}
.mcsf_adminbar li select:focus {
    outline:none;
    opacity:0.8;
    border-color:gray;
}
.mcsf_adminbar li select:hover {
    opacity:0.8;
    cursor:pointer;
    border-color:gray;
}
.mcsf_admin_userip {
    display:block;
    text-align: left;
    font-size: 8pt;
    color: rgb(0, 153, 255);
}


/* ICONS */
.mcsf_icon-topic {
    background:url('../images/forum/topic-icons.png');
}
.mcsf_icon-topic-regular {
    background-position:0 0;
    width:50px;
    height:50px;
}
.msfc_icon-topic-popular {
    background-position:-50px 0;
    width:50px;
    height:50px;
}

/* PAGINATION */
.navigation {
    margin-top:10px;
}
.pagination .page-indication {
    font-size: 8pt;
    margin: 0 5px;
}
.pagination span{
    display:inline-block;
    padding:0 !important;
}
.pagination span a {
    color: rgb(148, 148, 148)!important;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px 7px;
}
.pagination .page, .pagination .first, .pagination .last, .pagination .next, .pagination .current, .pagination .previous {
    border: 1px solid #696969;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 8pt;
    background: #3C3C3C;
    box-shadow: inset 0 0 1px 0 rgb(73, 73, 73);
    margin: 0 1px;
}
.pagination .current {
    background: #4E4E4E;
    padding: 5px 7px !important;
}
.pagination .page:hover, .pagination .first:hover, .pagination .last:hover, .pagination .next:hover, .pagination .previous:hover {
    background: #4E4E4E;
    cursor:pointer;
}
.cke_chrome {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.mcsf_post_topbar:after {
    clear:both;
}
.mcsf_post_index {
    font-size:9pt;
    float: right;
}

.icon-cog {
    background: white;
    width: 30px;
    height: 29px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display:inline-block;
    margin-top:5px;
    border:1px solid #fff;
}

.icon-cog:hover {
    cursor:pointer;
    opacity:0.8;
    border: 1px solid rgb(240, 240, 240);
}

.group-admin {
    background: rgb(179, 54, 54);
}
.group-staff {
    background: #3668B3;
}
.group-dev {
    background: #8BB336;
}

.group-member {
    background: #4B4B4B;
}
















