.redactor_editor {
    background: #353535 !important;
    box-shadow:none !important;
    border:none !important;
}
.redactor_editor:hover {
    cursor: text !important;
}
.redactor_toolbar {
    background: #1F1F1F !important;
    box-shadow:none !important;
}
.redactor_toolbar li a {
    color: #B8B8B8 !important;
}
.redactor_toolbar li a:hover {
    background: #7f4396 !important;
}
.redactor_editor p, .redactor_editor span {
    color: #e2e2e2 !important;
}