html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale')";
}

body {
    z-index: 10;
	padding:0;
	margin:0;
    color:#FFF;
    background:transparent !important;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.dropdown {
    position: absolute;
    top: -9999px;
    list-style: none;
    margin-left: 0;
    width: 100%;
    max-height: none;
    height: auto;
    background: #2f2f2f;
    border: solid 1px #2E2E2E;
    font-size: 16px;
    z-index: 99;
    max-width: 200px;
    border-top: 1px solid rgb(61, 61, 61);
}

.dropdown > li {
    box-sizing: border-box;
    z-index:9999;
}
.dropdown > li > a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
    color:#fff;
    z-index:9999;
}
.dropdown > li > a:hover {
    background:#464646;
}
/* image preloader */
img.preload {
    background: url('../images/preloader.gif') no-repeat 50% 50%;
}
a {
	text-decoration: none;
    color: #CCB4E2;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
hr {
    border: 1px solid rgb(88, 88, 88);
}
a:hover {
	color:white;
}
p, span{

	font-size:10pt;
	font-weight:normal;
    word-wrap: normal;
    word-break: break-word;
}
h1, h2, h3, h4, h5, h6 {
	color: #FFF;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

.right {
    float:right;
}
.left {
    float:left;
}

.logo-eoe {
    background-color: transparent !important;
    border:none !important;
    background: url('../images/logo-eoe.png') no-repeat !important;
    width:258px;
    height:97px;
    z-index: 800;
    transition:         background-position 0.3s ease-in-out;
    -moz-transition:    background-position 0.3s ease-in-out;
    -webkit-transition: background-position 0.3s ease-in-out;
    -o-transition:      background-position 0.3s ease-in-out;
}
.logo-eoe a {
    position: absolute;
    top:0;
    left:0;
    width:258px;
    height:97px;
    background:url('../images/logo-eoe.png') 0 -97px !important;
    opacity: 0;
    z-index: 999;
    display:block;
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -o-transition:      opacity 2s;
    border:none !important;
}
.logo-eoe a:hover {
    opacity: 1;
}
/* FLASH MESSAGES */
#flash-container {
    height: 35px;
    margin-top: 45px;
}
#flash-container > div{
    width: 1020px;
    margin:0 auto;
}
.flash-warning {
    background: rgb(194, 194, 147);
    border-bottom: 1px solid rgb(88, 85, 0);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 1);
}
.sf_date {
    width:100%;
    margin-bottom:5px;
}
.sf_date > select{
    display: inline-block;
    width: 75px;
}
.sf_date > select + select {
    margin-left:5px;
}
.alert {
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 0px 1px rgba(32, 32, 32, 0.49);
    display:none;
}
/* COLORS */
.color-purple {
    color: rgb(150, 124, 189);
}

.bg-purple {
    background-color: #745B99 !important;
    color: #C5C3C3 !important;
    text-shadow: 1px 1px black;
}

.navigation-logo {
    width: 275px;
    height: 100%;
    margin-left:10px;
}
.navigation-logo > h1 {
    text-shadow: 1px 1px 5px black, 1px 1px black;
    margin:0;
}
.navigation-logo > h1 > a {
    color:#fff;
}
.navigation-logo > h1 > a:hover {
    color: #ccb4e2;
}
.logo-text {
    font-family: 'Exo 2', sans-serif;
    font-size: 29pt;
    marign: 0;
}
.logo-caption {
    display: block;
    text-shadow: 1px 1px black;
}

#navigation {
    margin-top: 70px;
}
#navigation > ul > li > ul.dropdown {
    background: #4d4d4d;
}

#navigation > ul {
    padding: 6px;
    margin: 0;
    background: #2f2f2f;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    max-height: 75px;
}
#navigation > ul > li {
	display:inline-block;
}
#navigation > ul > li > a {
	height:63px;
	display:table-cell;
	padding:0 15px;
	vertical-align: middle;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	color: #FFF;
    background:#4d4d4d;
}
#navigation > ul > li > a > .glyphicon {
    margin-right:3px;

}
#navigation > ul > li:first-child > a
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#navigation > ul > li:last-child > a
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#navigation > ul > li > a:hover {
	/*background: #88882e;*/
    background: #4D3A5C;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* NETWORKS */
#networks{
    max-width:1020px !important;
    margin:0 auto !important;
}


/* ACCOUNT */
.profile-container a img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* CLEARFIX */
.clearfix:before,.clearfix:after {
    content:" ";
    display:table
}
.clearfix:after {
    clear:both
}

/* MID */
#wrapper {
    background:#2f2f2f;
}
.wrapper {
	margin: 10px auto;
    padding:5px;
    width:1020px;
}
.wrapper-top {
    margin: 0px auto;
    background:#2f2f2f;
    width:1020px;
}
#mid {
	border-radius:5px;
	width: 72%;
	min-height:100px;
	float:left;
    box-sizing: border-box;
    padding-right: 5px;
}

aside {
	min-height:100px;
	border-radius:5px;
    width:28%;
    box-sizing: border-box;
    float:right;
}

/* PAGE */
.page {
    background:#4d4d4d;
    padding:5px;
    box-sizing: border-box;
    width:100%;
}
.page-header {
    margin: 0;
    font-size: 20pt;
    font-weight: 100;
    padding: 5px;
    border-bottom: 1px solid #5a5a5a;
    margin-bottom: 10px;
}

/* PAGINATION */
.pagination {
    margin-top:10px;
}
.pagination .page-indication {
    font-size: 8pt;
    margin: 0 5px;
}
.pagination span{
    display:inline-block;
}
.pagination span a {
    color: rgb(148, 148, 148)!important;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 3px 7px;
}
.pagination .pagination-page,
.pagination .pagination-first,
.pagination .pagination-last,
.pagination .pagination-next,
.pagination .pagination-current,
.pagination .pagination-previous {
    border: 1px solid #696969;
    border-radius: 3px;
    font-size: 8pt;
    background: #3C3C3C;
    box-shadow: inset 0 0 1px 0 rgb(73, 73, 73);
    margin: 0 1px;
}
.pagination .pagination-current {
    background: #4E4E4E;
    padding: 3px 7px;
}
.pagination .pagination-page:hover,
.pagination .pagination-first:hover,
.pagination .pagination-last:hover,
.pagination .pagination-next:hover,
.pagination .pagination-previous:hover {
    background: #4E4E4E;
    cursor:pointer;
}

/* FOOTER */
footer {
	min-height:50px;
	background: #2f2f2f;
	width:1000px;
	margin:0 auto;
	clear:both;
	margin-top:10px;
	text-align:center;
	padding:10px;
	border-radius:5px;
    font-size:10pt;
}
footer p {
    margin:0;
}
footer nav ul {
    padding:0;
    margin:0 auto;
}

/* ARTICLE */
article {
	background: #4D4D4D;
	padding:10px;
	color:#FFF;
	clear:both;
    border-radius: 2px;
}
article + article {
    margin-top: 10px;
}
article h3 {
    margin: 0;
    text-shadow: 1px 1px black;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
article p {
	font-size:10pt;
}
article .comments {
	font-style:italic;
	font-size:8pt;
}
.article-date {
	text-align:right;
	float:right;
	background:#2f2f2f;
	font-size:8pt;
	padding:5px;
}
.article-header {
    font-size:20pt;
}
.article-comments {
    margin-top:10px;
}

/* MODULE */
.module {
    clear:right;
}
.module + .module {
    margin-top:5px;
}
.module-header {
    font-size: 14pt;
    padding: 5px 5px 5px 7px;
    font-weight: normal;
    background: #4d4d4d;
    margin: 0 0 1px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.module-content {
	padding:10px;
	background:#4D4D4D;
}
.module-content p{
	margin:0;
}
.module-list {
    padding:0;
    margin:0;
}
.module-list > li {
    list-style:none;
    background:#4d4d4d;
    padding:5px;
    min-height:38px;
    clear:right;
    border-bottom: 1px solid rgb(63, 63, 63);
}
.module-list > li:last-child {
    border-bottom: none;
}
.module-list li + li {
    margin-top:5px;
}

/* LOGO */
.logo {
	width:75px;
	height:75px;
}

/* SHOP */


/* PROFILE */
.sidebar-profile-holder {
    margin: 0 0 0 80px !important;
}

/* LISTS */
.list {
    margin:0;
    padding:0;
}
.list > li {
    list-style:none;
}
.list > li + li{
    margin-top:3px;
}


/* MENU */

/* simple menu, vertical */
.menu {
    padding:0;
    margin:0;
}
.menu > li {
    list-style:none;
}
.menu > li > a {
    display:block;
}
/* top menu */
.menu-top > li {
    list-style:none;
}
.menu-top > li > a {
    height:40px;
    display:table-cell;
    vertical-align:middle;
}
.menu-top {
    padding:0;
    margin: 0;
}

/* stacked menu, on top of each other, centered */
.menu-stacked > li {
    text-align:center;
}
.menu-stacked > li + li {
    margin-top:3px;
}

/* horizontal menu */
.menu-horizontal > li {
    display:inline-block;
}
.menu-horizontal > li > a:hover {
    background:none !important;
    color:#ccb4e2 !important;
    display:inline-block;
}
.menu-horizontal > li > a:after {
    content: "|";
    margin-left: 5px;
    color: rgb(92, 92, 92);
}
.menu-horizontal > li:last-child a:after {
    content: none;
}
.menu-horizontal > li + li {
    margin-left:5px
}

/* menu pills */
.menu-pills > li {
    float:left;
}
.menu-pills > li+li {
    margin-left:5px;
}
.menu-pills > li > a {
    box-shadow: none;
    background:none;
    padding: 5px 10px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;

    transition:         background-color 0.3s ease-in-out;
    -moz-transition:    background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition:      background-color 0.3s ease-in-out;
}
.menu-pills > li > a:hover {
    border-color: #3C3141;
    background: #745b99;
}

/* menu squared, have squares with glyphicon and text beneath it */
.menu-squared > li > a{
    display: inline-block;
    padding: 20px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 5px;
    text-align: center;
    width: 115px;
    height: 115px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    color:#fff;

    transition:         background-color 0.3s ease-in-out;
    -moz-transition:    background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition:      background-color 0.3s ease-in-out;
}
.menu-squared > li {
    float:left;
    margin-bottom:5px;
}
.menu-squared > li + li {
    margin-left: 5px;
}
.menu-squared > li:nth-child(7n) {
    margin-left: 0 !important

}
.menu-squared > li > a > .glyphicon {
    font-size: 22pt;
}
.menu-squared > li > a > span {
    display:block;
}
.menu-squared > li > a:hover {
    background: #745b99;
    border-color: rgb(75, 47, 105);
}
/*
.menu {
    padding:0;
    margin:0;
}

.menu-stacked > li > a {
    margin:5px 0 0 0;
}
.menu-stacked > li:first-child a {
    margin:0;
}
.menu-floating li {
    width:50%;
}
.menu-floating li {
    display:inline-block;
}
.menu > li {
    list-style:none;
}
.menu > li > a {
    display: block;
    padding: 8px 10px;
    text-align: center;
    background-color: #745b99;
    border: 1px solid #493961;
    border-radius: 5px;
    color: #fff;
}
.menu-simple , .menu-simple li, .menu-simple li a{
    background:none;
    border:none;
    padding:0;
}
.menu-simple li {
    display:inline-block;
}
.menu-simple li a {
    font-size: 10pt;
}
.menu-simple li a:hover {
    background:none !important;
    color:#ccb4e2 !important;
    display:inline-block;
}
.menu-simple li a:after {
    content: "|";
    margin-left: 5px;
    color: rgb(92, 92, 92);
}
.menu-simple li:last-child a:after {
    content: none;
}
.menu-simple li + li {
    margin-left:5px
}
.menu > li a + a {
    margin-top:5px;
}
.menu > li:nth-child(1n + 2) {
    margin-top:0;
}
.menu > li + li {
    margin-top:5px;
}
.menu > li a:hover {
    background: #786281;
    border-color: rgb(84, 60, 88);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
}
.menu-pills > li {
    float:left;
}
.menu-pills > li+li {
    margin-left:5px;
}
.menu-pills > li > a {
    box-shadow: none;
    padding: 5px 10px;
    border: 1px solid rgb(51, 51, 51);
}
.menu-pills > li > a:hover {
    border-color: #3C3141;
}
.menu-clean > li > a{
    text-align:left;
    padding: 5px 10px;
    box-shadow: none;
    border:none;
    background: rgb(87, 87, 87);
    border: 1px solid rgb(58, 58, 58);
}
.menu-clean > li + li {
    margin-top:5px !important;
}
.menu-tabs {
    width:100%;
}
.menu-tabs > li {
    float:left;
}
.menu-tabs > li > a{
    padding:10px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border:1px solid gray;
    border-bottom:none;
}
.menu-tabs > li + li {
    margin-left:5px;
}
.menu-tabs {
    border-bottom:1px solid gray;
}   */
/* IP */
.ip {
    background: #4d4d4d;
    padding:5px 10px;
    margin-bottom:5px;
    color: #FFF;
    border-radius: 2px;
}
.ip .color-purple {
    text-shadow: 1px 1px black;
    font-size: 15pt;
    font-variant: small-caps;
    font-weight: bold;
}

textarea, input {
    color:black;
}
textarea {
    overflow: auto;
}

/* FRIENDS */
.friend-action
{
    width:100px;
    height:50px;
    background:#DBDBDB;
    border:1px solid #333333;
    float:left;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin-top:0;
    padding:0;
    text-align:right;
}

.friend-action li a
{
    display:block;

    padding-top:3px;
    padding-bottom:3px;
    padding-right:5px;
}
.friend-action li a:hover
{
    background:#fff;
}

.form-profile label {
    font-size: 12pt;
    font-weight: 100;
}
/* TABS */
.tab-pane {
    display:none;
}
.tab-pane.active {
    display:block;
}

/* PACE */
.pace .pace-progress {
    background: #6455aa;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}


/* APPLICATIONS */
.application-reply {
    margin-bottom: 10px;
    background-color: #4d4d4d;
    border: none;
    padding: 5px;
}
.application-id-0
{
    color: #67ae41;
}
.application-id-1
{
    color: #b02a29;
}
.application-reply-side {
    float:left;
    width:100px;
}
.application-reply-content {
    margin-left: 110px;
}

/* EXTENSION ON ZURB */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:999;
    background: #2f2f2f;
    max-height: 40px;
    height: 40px;
}
.top-bar > div > ul {
    padding:0;
    margin:0;
    height:100%;
}
.top-bar > div > ul > li {
    list-style:none;
    height:100%;
}
.top-bar > div > ul > li > a {
    height:40px;
    display:table-cell;
    vertical-align: middle;
    padding: 0 10px;
    color: lightgrey;
    background: rgb(53, 53, 53);
    font-size: 10pt;

    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}
.top-bar > div > ul > li > a:hover {
    background-color: rgb(70, 70, 70);
}

@media only screen and (min-width: 64.063em) {

}
@media only screen and (min-width: 40.063em) {
    .large-2, .medium-2 {
        position: relative;
        width: 22.66667%;
    }
    .large-4, .medium-4 {
        width:27.33333%;
    }
    .large-7, .medium-7 {
        width:70.33333%;
    }
    .large-offset-1, .medium-offset-1 {
        margin-left: 2.33333%
    }
}
@media only screen and (min-width: 90.063em) {
    .column, .columns {
        position: relative;
        padding: .500rem;
        float: left;
    }
}

.tabs-content .content {
    width:100%;
}
.tabs dd>a {
    background: #727272;
    padding: 0.5rem 1rem;
}
.tabs dd.active a {
    background: #C9C9C9;
}
.breadcrumbs {
    background-color: #3A3A3A;
    border: none;
}
.breadcrumbs>* a, .breadcrumbs>* span {
    color: #9380B4;
    padding: 2px 5px;

    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}
.breadcrumbs>*:hover a, .breadcrumbs>*:focus a {
    background-color: rgb(95, 95, 95);
    text-decoration: none;

    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}
.button, button {
    background-color: #7C5F92;
}
.button:hover, button:hover {
    background-color: #784e92;
}
.modal {
    color:#000;
}
button.close {
    color: rgb(143, 143, 143);
}
.panel {
    border-color: #3A3A3A;
    background: #494949;
}

/* LABELS */
.label {
    background: #979797;
    padding: 2px 7px;
    border-radius: 3px;
    text-shadow: 1px 1px black;
    box-sizing: border-box;
    color: #fff;
}
.label-main {
    background-color: #6B4B85;
}


#notifications {
    width: 300px;
}
.notification {
    -ms-word-break: break-all;
    word-break: break-all;

}
.notification-container {
    font-size: 10pt;
    background: #2f2f2f;
    padding:10px;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.notification-container:hover {
    background: rgb(29, 29, 29);
    cursor:pointer;
}
.notification-read > .notification-container{
    background: #3D3D3D !important;
}
.notification-image {
    float:left;
    width:40px;
}
.notification-data {
    margin-left: 40px;
}
.notification-text {
    margin:0;
    line-height: 15px;
}
.notification-date {
    font-size: 8pt;
    color: gray;
}
.notification + .notification {
    border-top: 1px solid #3F3F3F;
}



/* FORMS **/
label {
    font-size: 10pt;
    margin-bottom: 5px;
    display:block;
}
select {
    border: 1px solid rgb(51, 51, 51);
    color: #fff;
    background:#4d4d4d;
    width:100%;
}
select:hover {
    cursor:pointer;
    border-color: #979797;
    background:#4d4d4d;
}
select:focus {
    border-color: #979797;
}

.page-content > form > div > div, .page-content > form > fieldset > div > div, .form > fieldset > div {
    margin-bottom:10px;
}
button {
    border-radius: 5px;
    padding: 10px 15px;
}
button:hover {
    background: #786281;
    border-color: rgb(84, 60, 88);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
}
.btn {
    background:#745b99;
    border: 1px solid #493961;
    color: rgb(233, 233, 233);
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.btn-default {
    background-color:#745b99;
    border-color: #493961;
    color: rgb(233, 233, 233);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    border-radius: 5px;
    background: 0;
    border: 1px solid #313131;
    width: 100%;
    color: #999;
    box-shadow: none;
    padding: 10px 10px;
    box-sizing: border-box;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:hover,
textarea:focus {
    box-shadow: none;
    border-color: rgb(158, 158, 158);
    color: #FEFEFE;
    background: 0;
    outline:0;
}
