.ticket-id-1 {
    color: #E74342;
    text-shadow: 1px 1px rgb(46, 46, 46);
    font-weight: bold;
}
.ticket-id-0 {
    color: #67ae41;
    text-shadow: 1px 1px rgb(46, 46, 46);
    font-weight: bold;
}
.ticket-reply {
    margin-bottom: 10px;
    background-color: #2E2E2E;
    border: 1px solid #252525;
    padding: 5px;
}