{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}


{% block field %}
    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
        {% for key, t in value %}
            <li class="list-group-item" style="min-height: 68px;">
                <a href="#" class="thumb-sm pull-left m-r-sm">
                    <img src="http://minotar.net/helm/{{ t.user.username }}/50.png" class="img-circle">
                </a>
                <a href="#" class="clear">
                    <small class="pull-right">{{ t.createdOn|prettydate }}</small>
                    <strong class="block">
                        {% if t.user.hasRole('ROLE_STAFF') %}
                            <span class="label label-info">Staff</span>
                        {% endif %}
                        {{ t.user.username }}
                    </strong>
                    <small>{{ t.text|purify }}</small>
                </a>
            </li>
        {% else %}
            <li class="list-group-item">No replies found.</li>
        {% endfor %}
    </ul>
{% endblock %}