{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>News statistics</h1>
        <div class="container-content">
            <p>Adding later</p>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>News Actions</h1>
        <div class="container-content">
            <a href="{{ path('admin_news_add_view') }}" class="button" style="display:inline-block;">Add a news article</a>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>News articles</h1>
        <div class="container-content clearfix">
            <!-- VIEW NEWS POSTS -->
            <table id="table_news">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>CONTENT</th>
                    <th>DATE</th>
                    <th>AUTHOR</th>
                    <th>SECTION</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd gradeX">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <script>
                var editor; // use a global for the submit and return data rendering in the examples
                var oTable;
                var giRedraw = false;

                $(document).ready(function() {
                    // Create the form

                    // Edit record
                    $('#table_news').on('click', 'a.editor_edit', function (e) {
                        e.preventDefault();

                        //call ajax delete request
                        var url = '{{ path("admin_news_edit_view", {'id': 'region_id'}) }}';
                        url = url.replace("region_id", this.getAttribute("data-id"));

                        var win=window.open(url, '_blank');
                        win.focus();
                    });

                    // Delete a record (without asking a user for confirmation)
                    $('#table_news').on('click', 'a.editor_remove', function (e) {
                        e.preventDefault();

                        //call ajax delete request
                        var url = '{{ path("admin_news_delete_ajax", {'id': 'region_id'}) }}';
                        url = url.replace("region_id", this.getAttribute("data-id"));

                        AJAX.post_url_datatable(url, $(this).parents('tr')[0], oTable);
                    } );

                    $("#table_news tbody").click(function(event) {
                        $(oTable.fnSettings().aoData).each(function (){
                            $(this.nTr).removeClass('row_selected');
                        });
                        $(event.target.parentNode).addClass('row_selected');
                    });

                    /* Add a click handler for the edit row */
                    $('#edit-news').click( function() {
                        var anSelected = fnGetSelected( oTable );
                        var aData = oTable.fnGetData(anSelected);
                        $('#admin_news_id_hdn').val(aData["id"]);
                        $('#dialog-form-update #title').val(aData["title"]);

                        $('#content').val(aData["content"]);
                    } );

                    oTable = $('#table_news').dataTable( {
                        "bSort": true,
                        "bFilter": true,
                        "bProcessing": true,
                        "bServerSide": true,
                        aoColumnDefs: [
                            {
                                sDefaultContent: '',
                                aTargets: [ '_all' ]
                            }
                        ],
                        "sAjaxSource": "{{ path('admin_news_ajax') }}",
                        "aoColumns": [
                            { "mData": "id" },
                            { "mData": "title" },
                            {
                                "mData": "content",
                                "sClass": "dataTable_custom_text_left",
                                "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                    return data.substring(0, 100) + "...";
                                }
                            },
                            { "mData": "date" },
                            { "mData": "user.username" },
                            { "mData": "section.name" },
                            {
                                "mData": "id",
                                "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                    return '<a href="" data-id="' + row["id"] + '" class="editor_edit button-small inline">E</a><a href="" data-id="' + row["id"] + '" class="editor_remove button-small inline">X</a>';
                                }
                            }
                        ]
                    });

                });

                /* Get the rows which are currently selected */
                function fnGetSelected( oTableLocal )
                {
                    var aReturn = new Array();
                    var aTrs = oTableLocal.fnGetNodes();

                    for ( var i=0 ; i<aTrs.length ; i++ )
                    {
                        if ( $(aTrs[i]).hasClass('row_selected') )
                        {
                            return (aTrs[i]);
                        }
                    }

                }
            </script>
            <style>
                .wysiwyg{ width:670px !important;}
                #frmAddNewsContentIFrame{ width:100% !important }
                #contentIFrame{ width:100% !important }
            </style>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}
