{% for keyCategory, category in categories %}

    <div class="online-users">
        <div class="online-users-category">
            <h4>
                {{ keyCategory }}
                <span class="online-users-count">{{ category|length }}</span>
            </h4>
        </div>

        <ul class="online-users-content animated fadeIn">
            {% for key, user in category|slice(0, 18) if keyCategory|upper != "GUESTS" %}
                <li><img src="http://minotar.net/helm/{{ user['username'] }}/36.png" alt="profile image of {{ user['username'] }}"/></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

