<html>
	<table style="width:500px;font-family:arial;">
		<tr style="height:150px;">
			<td style="width:500px;background:#1C1C1C"><h1 style="color:white;">Welcome to our minecraft server {{ user }}</h1></td>
		</tr>
		<tr>
			<td style="width:500px;background:#fff;">{{ message|raw }}</td>
		</tr>
		
	</table>
</html>