html
{
	margin:0;
	padding:0;
	border:none;
	top:0;
	font-family:calibri;
}
body
{
	margin:0;
	padding:0;
	border:none;
	top:0;
	font-family:calibri;
}
img {
    max-width: 100%
}
img, embed, object, video {
    max-width: 100%
}
a
{
	text-decoration: none;
}
.clear-both
{
	clear:both;
}
#top-bar
{
	background:url('/bundles/maximcms/acp/images/nav_bar_top.jpg');
	width:100%;
	min-height:60px;
	position:fixed;
	z-index:1000;

}
.profile
{
	display:table-cell;
	vertical-align:middle;
	height:60px;
	color:#bdbdbd;
}
.profile img
{
	height:50px;
	width:50px;
	padding-top:5px;
	margin-left:5px;
	float:left;
}
.profile img:hover
{
	opacity:0.8;
	cursor:pointer;
}
.profile .vertical
{
	height:60px;
}
.profile h1
{
	float:left;
	margin:0;
	padding:0;
	font-size: 14px;
	vertical-align: middle
}
#left-bar-bg
{
    background:url('/bundles/maximcms/acp/images/nav_bar_left.jpg') repeat-y;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 115px;
    z-index: -1;
}

#left-bar
{
	background:url('/bundles/maximcms/acp/images/nav_bar_left.jpg') repeat-y;
    position:absolute;
    width:115px;
	z-index:999;
    min-height:100%;
    display: table-cell;
}
#left-bar-nav
{
	margin:0;
	padding:0;
    padding-top:60px;
}
#left-bar-nav div
{
	margin:0;
	padding:0;
	border:none;
    font-size:30px;
    color:rgb(145, 145, 145);
    padding-top:20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
#left-bar-nav li
{
	display:block;
	list-style:none;
	height:80px;
	text-align:center;
}
#left-bar-nav li a
{
	display:block;
	list-style:none;
	height:80px;
}
#left-bar-nav li a span
{
	font-family:calibri;
	color:#bdbdbd;
	font-size:12px;
	text-decoration:none;
}
#left-bar-nav li a img
{
	display:block;
	margin:0 auto;
	padding-top:15px;
}
#left-bar-nav li a:hover
{
	background:#1b1b1b;
	opacity:0.5;
}
#left-bar-sidebar {
    background:url('/bundles/maximcms/acp/images/nav_bar_left.jpg') repeat-y;
    position:absolute;
    width:115px;
    z-index:999;
    min-height:100%;
    display: table-cell;
}
#middle
{
	margin-left:115px;
	padding-top:60px;
	z-index:2
}
#menu_sub
{
	background:url('/bundles/maximcms/acp/images/nav_sub.png') repeat-x;
	height:119px;
	
}
#middle_menu_top
{
	background:url('/bundles/maximcms/acp/images/middle_nav_top.png') repeat-x;
	height:62px;
	width: 100%;
	position:fixed;
	z-index:999;
}
#middle_menu_top div.vertical
{
	height:62px;
}
.vertical
{
	display:table-cell; 
	vertical-align:middle;
}
#middle_menu_top h1
{
	font-size:14px;
	margin:0;
	padding:0;
	display:table-cell;
	vertical-align: middle;
	padding-left:20px;
}
#middle_menu_small
{
	background:url('/bundles/maximcms/acp/images/middle_nav_small.png') repeat-x;
	height: 28px;
	font-size: 11px;
	position:fixed;
	margin-top:61px;
	width: 100%;
	z-index:999;
}
#middle_menu_small ul
{
	margin:0;
	padding:0;
}
#middle_menu_small ul li a
{
	display:block;
	padding-left:5px;
	padding-right:5px;
	height:24px;
	list-style:none;
	vertical-align: middle;
	display:table-cell;
	color:#000;
	content:" > ";
}
#middle_menu_small ul li a:hover
{
	background:#1b1b1b;
	opacity:0.8;
	color:#FEFEFE;
}
#middle_menu_small ul li
{
	float:left;
}
#middle_menu_small ul li+li
{
	border-left:1px solid #CDCDCD;
}
#middle_content
{
	margin-top:122px;
}
.window
{
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	position: relative;
	margin:20px;
}
.window-header
{
	background-color: #E5E5E5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#E5E5E5));
	background-image: -webkit-linear-gradient(top, #EBEBEB, #E5E5E5);
	background-image: -moz-linear-gradient(top, #EBEBEB, #E5E5E5);
	background-image: -o-linear-gradient(top, #EBEBEB, #E5E5E5);
	background-image: -ms-linear-gradient(top, #EBEBEB, #E5E5E5);
	background-image: linear-gradient(top, #EBEBEB, #E5E5E5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebebeb', EndColorStr='#e5e5e5');
	border-top: 1px solid #FAFAFA;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 40px;
}
.window-header h6
{
	color: #898989;
	float: left;
	font-family: "Tahoma", "Lucida Grande", sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 14px;
	text-shadow: 0 1px 0 white;
	text-transform: uppercase;
}
.window-content
{
	border-top:1px solid #fff;
	background-color: #FAFAFA;
	padding:10px;
}
h6
{
	margin:0;
	padding:10px;
}


input[type="text"], input[type="password"], textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}
textarea {
	width: 400px;
	height: 150px;
	line-height: 150%;
	}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}
.form label {
	margin-left: 10px;
	color: #999999;
	}
.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

.messagebox {
	position: absolute;
	width: 100px;
	margin-left: 74px;
	border: 1px solid #c93;
	background: #ffc;
	padding: 3px;
	margin-top: -27px;
	font-size: 11px;
}
.messageboxok {
	position: absolute;
	width: auto;
	margin-left: 74px;
	border: 1px solid #349534;
	background: #C9FFCA;
	padding: 3px;
	font-weight: bold;
	color: #008000;
	margin-top: -27px;
	font-size: 11px;
}
.messageboxerror {
	position: absolute;
	width: auto;
	margin-left: 74px;
	border: 1px solid #C00;
	background: #F7CBCA;
	padding: 3px;
	font-weight: bold;
	color: #C00;
	margin-top: -27px;
	font-size: 9px;
}
#tblAdminApplication tr td:first-child
{
	padding-right:15px;
	font-weight:bold;
    width:10%;
}
#tblAdminApplication tr td table tr td:first-child
{
    width: 22%;
}
fieldset input
{
	display:block;
}

/* ---------
 *   TABLE
 * --------- */
table.rowhover tr:hover
{
	cursor:pointer;
	background-color: #ccc;
}
table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	color: #666;
	font-family: "Aller", "Lucida Grande", sans-serif;
	border-spacing: 0;
    word-wrap:break-word;
}

table th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	*cursor: hand;
	color: #898989;
	border-left:1px solid #FFF;
	border-right:1px solid #F4F4F4;
	text-transform:capitalize;
	border-left: 1px solid white;
	border-right: 1px solid #F4F4F4;
	padding: 5px 8px;
	position: relative;
	text-align: left;
	background-color: #FAFAFA;
	font-size:14px;
}

table tr
{
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid white;
	font-size:12px;
}

table tfoot th {
	padding: 3px 10px;
}

table td {
	padding: 8px 10px;
	border-right:1px solid #F4F4F4;
}

table tbody tr:last-child { border-bottom: none; }
table tr:nth-child(odd) { background-color: #FDFDFD; }
table tr:nth-child(even) { background-color: #FAFAFA; }
table tr.even.row_selected td {
	background-color: #B0BED9;
}

table tr.odd.row_selected td {
	background-color: #9FAFD1;
}

form p
{
    clear:both;
}
/* CHECKBOXES */
.selectable
{
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.checkbox-custom-1 input[type=checkbox]
{
    visibility: hidden;
}
.checkbox-custom-1-span
{
    float:left;
}
.checkbox-custom-1 {
    margin-bottom:10px;
    margin-left:10px;
    margin-top:-1px;
    width: 80px;
    height: 26px;
    background: #333;
    float:left;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.checkbox-custom-1:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.checkbox-custom-1:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.checkbox-custom-1 label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.checkbox-custom-1 input[type=checkbox]:checked + label {
    left: 43px;
}

/* ALERTS */
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display:none;
}

.alert,
.alert h4 {
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success h4 {
    color: #468847;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info h4 {
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}