{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container clearfix" style="width:100%;">
        <h1>Add an announcement</h1>
        <div class="container-content clearfix">
            <div id="announcement-status"></div>
            <form action="{{ path('admin_announcement_add') }}" class="form-clean" id="frmAddAnnouncement" method="post">
                <!-- WEBSITE -->
                <p>
                    <select name="_admin_announcement_website" id="admin_announcement_website" class="selectable" value="Website" data-validate-options="selectable">
                        <option value="">Choose a website</option>
                        {% for website in websites %}
                            <option value="{{ website.id }}">{{ website.name }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <select name="_admin_announcement_type" id="admin_announcement_type" class="selectable" value="Type" data-validate-options="selectable">
                        <option value="">Choose a type</option>
                        <option value="info">Info</option>
                        <option value="success">Success</option>
                        <option value="warning">Warning</option>
                        <option value="danger">Danger</option>
                    </select>
                </p>

                <p>
                    <label for="announcement_startdate">Start date: </label><br/>
                    <input type="text" name="_announcement_startdate" class="inputbox datepicker" placeholder="Starting date, blank for now (yyyy-mm-dd)" id="announcement_startdate" data-date-format="yyyy-mm-dd">
                </p>

                <p>
                    <label for="announcement_enddate">End date: </label><br/>
                    <input type="text" name="_announcement_enddate" class="inputbox datepicker" placeholder="End date (yyyy-mm-dd)" id="announcement_enddate" data-date-format="yyyy-mm-dd">
                </p>

                <p>
                    <label for="content" >Text</label>

                    <textarea cols="80" rows="20" name="_admin_announcement_text" id="announcement_content" style="width:670px;"></textarea>
                </p>
                <input type="submit" value="Save" class="button" id="btnSave"/>
            </form>
        </div>
    </div>
    <script>
        //onclick
        UI.editor('announcement_content');

        $('#frmAddAnnouncement').submit(function(e) {
            e.preventDefault();

            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();

            AJAX.post_noButton(
                    $("#frmAddAnnouncement").attr("action"),
                    {
                        _announcement_text : $("#announcement_content").val(),
                        _announcement_type : $("#admin_announcement_type").val(),
                        _announcement_website : $('#admin_announcement_website').val(),
                        _announcement_startdate : $('#announcement_startdate').val(),
                        _announcement_enddate : $('#announcement_enddate').val()
                    },
                    $("#announcement-status")
            );
        });
    </script>
{% endblock %}
