<select name="_admin_group_roles" id="admin_group_roles" class="selectable" data-validate-options="selectable">
    <option value="ROLE_ADMIN">Admin</option>
    <option value="ROLE_STAFF">Staff</option>
    <option value="ROLE_MEMBER">Member</option>
    <option value="ROLE_GUEST">Guest</option>
    <option value="ROLE_BANNED">Banner</option>
</select>