<select name="_widget_server" id="widget_server" class="selectable" data-validate-options="selectable">
    <option value="">Choose a server</option>
    {% for server in servers %}
        {% if server.id == value %}
            <option selected="selected" value="{{ server.id }}">{{ server.name }}</option>
        {% else %}
            <option value="{{ server.id }}">{{ server.name }}</option>
        {% endif %}
    {% else %}
        <option value="0">No servers found</option>
    {% endfor %}
</select>