{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="page">
    <h3 class="page-header">Register</h3>

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}

</div>
{% endblock fos_user_content %}
