{% extends 'MaximModuleApplicationBundle:Template:standard_template.html.twig' %}

{% block body %}
    <h1>Application - Moderator</h1>

    <div class="well">
        <div id="application-status" class="alert" style="display:none;"></div>
        <form class="form-horizontal" id="frmApplication" action="{{ path('application_action') }}">

            <div class="box-scroll-content well" style="height:150px;">
                <p>
                    Terms<br/><br/>

                    ~ We reserve the right to deny your moderator  application for any reason that we see fit.<br/><br/>

                    ~ You may only submit 1 moderator application every 31 days, any less you will face consequences.<br/><br/>

                    ~ You may not ask any staff member to review your application. If you do it will severely lessen your chances of becoming a moderator and you will most likely be denied instantaneously.<br/><br/>

                    ~ By agreeing to the terms, you are confirming all of the information in your application as true. If anything is found to be false, we have the right to deny the application and not let you reapply. <br/><br/>

                    ~ We also reserve the right to demote moderators at any time for any reason.<br/><br/>

                    <span style="text-decoration:underline">Expectations</span><br/><br/>

                    ~ Moderator’s are expected to be dedicated and spend a good portion of time on the forums and on the server everyday.<br/><br/>

                    ~ Moderators are expected to follow all servers rules at all times.<br/><br/>

                    ~ Moderators must listen to their superiors and they must complete tasks when given.<br/><br/>

                    ~ Moderators are expected to dedicate their time to moderation and not just to playing games. <br/><br/>


                    By agreeing to the terms, you are confirming all of the information in your application as true. If anything is found to be false, we have the right to deny the application and not let you reapply.
                </p>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputAge">Age:</label>
                <div class="controls">
                    <input type="text" name="_app[]" data-validate-options="required|number" id="inputAge" placeholder="Age">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" name="_app[]" data-validate-options="required" id="inputName" placeholder="Name">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputUsername">Username</label>
                <div class="controls">
                    <input type="text" name="_app[]" data-validate-options="required|whitespace" id="inputUsername" placeholder="Username">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCountryAndTimezone">Country and Timezone:</label>
                <div class="controls">
                    <input type="text" name="_app[]" data-validate-options="required" id="inputCountryAndTimezone" placeholder="Country and Timezone">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDonated">What have you done to help out our community?:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputDonated" placeholder="Have you donated? (no/yes + group/kit)"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputGamemode">What Fridge gametype do you primarily play on?:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputGamemode" placeholder="What game mode do you primarily play?"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputTimeSpend">How much time do you spend on our server per day?:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputTimeSpend" placeholder="How much time do you spend on our servers per day?"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputReason">Describe why you would like to be a moderator:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputReason" placeholder="Why do you want to become a moderator?"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputQualify">What is your experience in this field?:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputQualify" placeholder="What makes you qualified for the job?"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputBanned">Have you ever been banned on a Minecraft server?</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputBanned" placeholder="Have you ever been banned on a Minecraft server? (If so, explain): "></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputAddition">Additional Info:</label>
                <div class="controls">
                    <textarea name="_app[]" data-validate-options="required" id="inputAddition" placeholder="Here you can tell us about yourself it is totally optional but will raise your chances of getting the position"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="agreeTerms">I have read and accept the terms.</label>
                <div class="controls">
                    <input type="checkbox" name="_app[]" data-validate-options="checked" id="agreeTerms">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" id="btnAppSubmit" class="btn btn-default">Submit application</button>
                </div>
            </div>

            <input type="hidden" id="group" name="_app[]" value="9" />
        </form>
    </div>
{% endblock %}
