{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Edit shop section</h1>
        <div class="container-content clearfix">
            <div id="section-status" class="alert"></div>
            <!-- ADD PAGE -->
            <form action="{{ path('admin_shop_section_add_ajax') }}" Onsubmit="" id="frmAddSection" method="post">
                <p>
                    <label for="name">Name</label><br/>
                    <input type="text" name="_admin_section_name" class="inputbox" id="name" placeholder="Item name:">
                </p>
                <p>
                    <label for="description">Description:</label><br/>
                    <textarea name="_admin_section_description" cols="20" rows="30" class="inputbox" id="description" placeholder="Description:" ></textarea>
                </p>
                <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="btnSave">save section</button>
                <div id="msgbox"></div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <script>
        $(document).ready(function(){
            UI.editor('description');

            $("#frmAddSection").submit(function() {

                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                AJAX.post($("#frmAddSection").attr("action"), {
                    _admin_section_name : $('#name').val(),
                    _admin_section_description : $('#description').val()
                }, $("#section-status"), $('#btnSave'));
                return false;
            });
        });
    </script>
{% endblock %}
