{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-users-title">{{ settings.title }}</h3>

    <div class="sonata-users-container">
        <ul>
           {% for key, user in latestUsers %}
               <li><a href="{{ path('admin_maxim_cms_user_edit', { 'id': user.id }) }}">{{ user.username }}</a></li>
           {% endfor %}
        </ul>
    </div>
{% endblock %}