{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <h3 class="sonata-purchases-title">{{ settings.title }}</h3>

        <div class="sonata-purchases-container">
            Total earnings this month: <span class="label label-success">{{ totals.amount }} {{ currency_symbol }}</span>
        </div>
    {% endif %}
{% endblock %}