{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <section class="panel panel-default">
            <header class="panel-heading">{{ settings.title }}</header>

            <div class="sonata-purchases-container">
                Total earnings this month: <span class="label label-success">{{ totals.amount }} {{ currency_symbol }}</span>
            </div>
        </section>
    {% endif %}
{% endblock %}