{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
	<div class="page-header">
		<h1>Forgot password</h1>
	</div>
	<div class="page-content">
		<div id="msgbox_forgotpass" class="status-message" style="display:none"></div>
		<form action="{{ path('account_forgot_password_send') }}" id="frmForgotPassword" method="post">
			<label for="email" class="inlined">Email</label>
			<input type="text" class="inputbox input-text" id="email"/>
		
			<input type="submit" class="btnGreen" id="btnForgotPass" value="Change"/>
		</form>
		
	</div>
</div>
{% endblock %}
