{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if app.user and object.username != app.user.username and is_granted('ROLE_ALLOWED_TO_SWITCH') %}
        <a href="?_switch_user={{ object.username }}" title="Impersonate user">
            <img src="{{ asset('bundles/sonataadmin/famfamfam/group_go.png') }}"  alt="Impersonate user" />
        </a>
    {% elseif is_granted('ROLE_PREVIOUS_ADMIN') %}
        <a href="?_switch_user=_exit" title="stop impersonate user">
            <img src="{{ asset('bundles/sonataadmin/famfamfam/stop.png') }}"  alt="stop impersonate user" />
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}