{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Page statistics</h1>
        <div class="container-content">
            <p>Adding later</p>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Page Actions</h1>
        <div class="container-content">
            <a href="{{ path('admin_page_add') }}" class="button" style="display:inline-block;">Add a page</a>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Users</h1>
        <div class="container-content clearfix">
            <div id="user-status" class="alert"></div>
            <!-- VIEW NEWS POSTS -->
            <table id="table_pages">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CONTENT</th>
                    <th>URL</th>
                    <th>CREATED ON</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd gradeX">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <script>
                var editor; // use a global for the submit and return data rendering in the examples
                var oTable;
                var giRedraw = false;
                $(document).ready(function() {
                    // Create the form

                    // Edit record
                    $('#table_pages').on('click', 'a.editor_edit', function (e) {
                        e.preventDefault();

                        //call ajax delete request
                        var url = '{{ path("admin_page_edit", {'id': 'region_id'}) }}';
                        url = url.replace("region_id", this.getAttribute("data-id"));

                        var win=window.open(url, '_blank');
                        win.focus();
                    });

                    // Delete a record (without asking a user for confirmation)
                    $('#table_pages').on('click', 'a.editor_remove', function (e) {
                        e.preventDefault();

                        //call ajax delete request
                        var url = '{{ path("admin_page_delete_ajax", {'id': 'region_id'}) }}';
                        url = url.replace("region_id", this.getAttribute("data-id"));

                        AJAX.post_url_datatable(url, $(this).parents('tr')[0], oTable);
                    } );

                    oTable = $('#table_pages').dataTable( {
                        "bSort": true,
                        "bFilter": true,
                        "bProcessing": true,
                        "bServerSide": true,
                        aoColumnDefs: [
                            {
                                sDefaultContent: '',
                                aTargets: [ '_all' ]
                            }
                        ],
                        "sAjaxSource": "{{ path('admin_page_ajax') }}",
                        "aoColumns": [
                            { "mData": "id" },
                            { "mData": "name" },
                            {   "mData": "content",
                                "sClass": "center",
                                "mRender": function(data, type, full){
                                    return data.substring(0, 150) + "...";
                                }
                            },
                            { "mData": "url" },
                            { "mData": "createdOn" },
                            {
                                "mData": "id",
                                "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                    return '<a href="#" data-id="' + row["id"] + '" class="editor_edit button-small inline">E</a><a href="#" data-id="' + row["id"] + '" class="editor_remove button-small inline">X</a>';
                                }
                            }
                        ]
                    });

                });
            </script>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
