{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Applications</h1>
    {% for application in applications %}
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{ path('application_view', {'id' : application.id, 'name' : application.application.name}) }}"><span>{{ application.application.name }}</span></a>
            </li>
        </ul>
    {% else %}
        <p>There are no open applications at the moment</p>
    {% endfor %}
{% endblock %}