{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Applications</h3>
        <div class="page-content">
            <ul class="menu menu-clean">
                {% for application in applications %}
                    <li>
                        <a href="{{ path('application', {'id' : application.id, 'name' : application.name}) }}"><span>{{ application.name }}</span></a>
                    </li>
                {% else %}
                    <p>There are no open applications at the moment</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}