{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Applications</h3>
        <div class="page-content">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}