{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Forum actions</h1>
        <div class="container-content clearfix">
            <ul>
                <li><a href="{{ path('forum_admin_categories_view') }}">Categories</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}
