<select name="_news_section" id="widget_news_section" class="selectable" data-validate-options="selectable">
    <option value="">Choose a section</option>
    {% for section in sections %}
        {% if section.id == value %}
            <option selected="selected" value="{{ section.id }}">{{ section.name }}</option>
        {% else %}
            <option value="{{ section.id }}">{{ section.name }}</option>
        {% endif %}
    {% else %}
        <option value="0">No sections found</option>
    {% endfor %}
</select>