{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="page">
    <h3 class="page-header">Profile</h3>
    <div class="page-content">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
