{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Applications</h3>
        <div class="page-content">
            <ul class="menu menu-clean">
                {% for a in userApplications if a.application is defined %}
                    <li>
                        <a href="{{ path('application_view', {'id' : a.id, 'name' : a.application.name|replace({" ": "-"})}) }}"><span>{{ a.application.name }}</span></a>
                    </li>
                {% else %}
                    <p>There are no open applications at the moment</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}