{% extends 'MaximAdminBundle:Default:index.html.twig' %}

{% block content %}
<div class="container clearfix" style="width:100%;">
    <h1>File Editor</h1>
    <div class="container-content">
        <div id="file-status"></div>
        <form action="{{ path('admin_edit_save', { file: file}) }}" id="frmEditFile" method="post">
            <textarea id="FileEditorText" name="_admin_file_content" style="height:auto;">{{ content }}</textarea>
            <br/>
            <button type="submit" id="file_save" name="_file_save">Save file</button>
        </form>
    </div>
</div>
<div class="clearfix"></div>
<script src="{{ asset('bundles/maximcms/plugins/codemirror/codemirror.js') }}" type="text/javascript" ></script>
{%  if format != false %}
    <script src="{{ asset('bundles/maximcms/plugins/codemirror/mode/' ~ format ~ '/'  ~ format ~ '.js') }}" type="text/javascript" ></script>

{%  endif %}
<script>
    $(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("FileEditorText"), {
            lineNumbers: true,
            lineWrapping: true
        });
    });
</script>
<script>
    $(document).ready(function(){

        $("#frmEditFile").submit(function() {
            AJAX.post($("#frmEditFile").attr("action"), {
                _admin_file_content : $('#FileEditorText').val()
            }, $("#file-status"), $('#file_save'));
            return false;
        });
    });
</script>
{% endblock %}